<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="styles.css" />
<title>Punto 2</title>
</head>

<body>
	<header>
		<h1>Tienda de Mascotas</h1>
	</header>
	<nav>
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Productos</a></li>
			<li><a href="">Contacto</a></li>
			<li><a href="">Sobre nosotros</a></li>
		</ul>
	</nav>

	<main>
		<section>
			<h2>Mi primer pagina</h2>
			<h3>Introducción</h3>
		</section>
		<section>
			<h3>Esto es un titulo</h3>
			<p>
				Esta es mi primera pagina así que va a ser <br />corta.
			</p>
			<p>pero nunca tanto</p>
			<table border="1">
				<tr>
					<th>Heading</th>
					<th>Another Heading</th>
				</tr>
				<tr>
					<td>row 1, cell 1</td>
					<td>row 1, cell 2</td>
				</tr>
				<tr>
					<td>row 2, cell 1</td>
					<td>row 2, cell 2</td>
				</tr>
			</table>
		</section>
		<section>
			<h2>Otro Titulo</h2>
			<p>PArrafo</p>
			<UL>
				<LI>La familia.
					<UL>
						<LI>Homer.
						<LI>Marge.
						<LI>Bart.
						<LI>Lisa.
						<LI>Maggie.
					</UL>
			</UL>
		</section>

	</main>
	<aside>
		<a href="http://www.w3.org/"> <img src="ruta_de_la_imagen.jpg"
			alt="Texto alternativo si la imagen no se muestra"
			title="Texto de información adicional">
		</a>
	</aside>
	<footer align="center">
		<h2>Contacto</h2>
		<p>Correo electrónico: ejemplo@example.com</p>
		<p>Síguenos en redes sociales:</p>
		<a href="https://www.facebook.com/">Facebook</a> <a
			href="https://twitter.com/">Twitter</a> <a
			href="https://www.instagram.com/">Instagram</a>
	</footer>

</body>

</html>