<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="styles.css" />
<title>Java y Programación Visual</title>
</head>

<body>
	<header>
		<h1>Java Visual Shop</h1>
	</header>
	<nav>
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Productos</a></li>
			<li><a href="">Contacto</a></li>
			<li><a href="">Sobre Java</a></li>
		</ul>
	</nav>

	<main>
		<section>
			<h2>Explorando Java</h2>
			<h3>Introducción a Java</h3>
			<p>Java es un lenguaje de programación versátil que permite crear
				aplicaciones robustas y multiplataforma.</p>
		</section>
		<section>
			<h3>Curiosidades de Java</h3>
			<p>¿Sabías que Java fue originalmente diseñado para televisores
				interactivos? ¡Ahora es uno de los lenguajes más utilizados en el
				mundo!</p>
			<table>
				<tr>
					<th>Característica</th>
					<th>Descripción</th>
				</tr>
				<tr>
					<td>Multiplataforma</td>
					<td>Escribe una vez, ejecuta en cualquier lugar.</td>
				</tr>
				<tr>
					<td>Orientado a Objetos</td>
					<td>Organiza el software como una colección de objetos.</td>
				</tr>
			</table>
		</section>
		<section>
			<h2>Programación Visual en Java</h2>
			<p>La programación visual utiliza interfaces gráficas para
				mejorar la interacción con el usuario y facilitar el desarrollo.</p>
			<ul>
				<li>Swing: Una biblioteca para crear interfaces gráficas ricas
					en Java.</li>
				<li>JavaFX: La evolución de Swing, con más características y
					una arquitectura moderna.</li>
				<li>AWT: El conjunto de herramientas de widgets abstractos, la
					base para la creación de GUI en Java.</li>
			</ul>
		</section>

	</main>
	<aside>
		<a href="https://www.manualweb.net/java/" target="_blank"> <img src="../static/images/logo.png"
			alt="Logo de Java" title="Aprende más sobre Java" >
		</a>
	</aside>
	<footer>
		<h2>Contacto</h2>
		<p>Correo electrónico: java_visual@example.com</p>
		<p>Síguenos en redes sociales para más tips de Java:</p>
		<a href="https://www.facebook.com/JavaVisualShop" target="_blank">Facebook</a> <a
			href="https://twitter.com/JavaVisualShop" target="_blank">Twitter</a> <a
			href="https://www.instagram.com/JavaVisualShop/" target="_blank">Instagram</a>
	</footer>

</body>

</html>